{% extends "::base_admin.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Joueurs
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                       


                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Notifications Panel
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> Seyaa a modifié son profil
                                    <span class="pull-right text-muted small"><em>il y'a 12 min</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> Lu a modifié son profil
                                    <span class="pull-right text-muted small"><em>il y'a 2 h </em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> Momo a modifié son profil
                                    <span class="pull-right text-muted small"><em>il y'a 3 j</em>
                                    </span>
                            </a>

                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-default btn-block">Toutes les modifications</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        </div>
        <!-- /.col-lg-12 -->


    </div>

{% endblock %}