{% if warInProgress %}
   <p> Gerre en cours : Yes
       {% if isInPreparation != 0 %}
           (jour de préparation)
       {% else %}
           (jour de guerre)
       {% endif %}

   </p>
    <p>{{ warInProgress.start|date('d M H:s') }} / {{ warInProgress.end|date('d M H:s') }}</p>

{% else %}
    <p>Aucune guerre en cours.</p>
{% endif %}

<hr>

{{ render(controller('COCBundle:War:futureWars')) }}

