<div class="panel panel-default">

        {% if warInProgress %}
        <div class="panel-heading">Guerre de clan en cours !</div>
        <div class="panel-body">
                {% if isInPreparation != 0 %}
                    Jour de préparation
                {% else %}
                    Jour de guerre
                {% endif %}

            ({{ warInProgress.start|date('d M H:s') }} / {{ warInProgress.end|date('d M H:s') }})

        {% else %}
            <div class="panel-heading">Guerre de clan</div>
            <div class="panel-body">
            <p>Aucune guerre en cours.</p>
        {% endif %}

        <hr>

       Future guerre: {{ render(controller('COCBundle:War:futureWars')) }}
    </div>
</div>



