<div class="well well-sm">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-header disabled"><a>Mon compte</a></li>
        <li role="presentation" class="active"><a href="#">Mes informations</a></li>
        <li role="presentation"><a href="#">Mes factures</a></li>
        <li role="presentation"><a href="#">Mes adresses</a></li>
        <li role="presentation"><a href="{{ path('fos_user_profile_edit') }}">Modifier profile</a></li>
        <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
    </ul>
</div>