/*
TITLE + DIVISION
*/
.player.dropdown{
    top: 18px;
}

small.last-update{
    font-size: .5em;
    margin-top: 14px;
}

h2 > small > div.division{
    width: 25px;
    height: 25px;
    /*background-color: black;*/
    display:inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.division.bronze-1{
    background-image: url("../images/divisions/bronze-1.png");
}
.division.bronze-2{
    background-image: url("../images/divisions/bronze-2.png");
}
.division.bronze-3{
    background-image: url("../images/divisions/bronze-3.png");
}
.division.silver-1{
    background-image: url("../images/divisions/silver-1.png");
}
.division.silver-2{
    background-image: url("../images/divisions/silver-2.png");
}
.division.silver-3{
    background-image: url("../images/divisions/silver-3.png");
}
.division.gold-1{
    background-image: url("../images/divisions/gold-3.png");
}
.division.gold-2{
    background-image: url("../images/divisions/gold-3.png");
}
.division.gold-3{
    background-image: url("../images/divisions/gold-3.png");
}
.division.crystal-1{
    background-image: url("../images/divisions/crystal-3.png");
}
.division.crystal-2{
    background-image: url("../images/divisions/crystal-3.png");
}
.division.crystal-3{
    background-image: url("../images/divisions/crystal-3.png");
}
.division.master-1{
    background-image: url("../images/divisions/master-3.png");
}
.division.master-2{
    background-image: url("../images/divisions/master-3.png");
}
.division.master-3{
    background-image: url("../images/divisions/master-3.png");
}
.division.champion{
    background-image: url("../images/divisions/champion.png");
}

/*
TABLES
*/
.gold > img,
.elixir > img,
.d4rk-elixir > img{
    width: 20px;
}

/*
FULL TABLE
}*/

.info-player-defence .cannon span,
.info-player-defence .mortar span,
.info-player-defence .arc-x span,
.info-player-defence .inferno span,
.info-player-defence .wizard span,
.info-player-defence .archer-tower span,
.info-player-defence .tesla span,
.info-player-defence .anti-air span,
.info-player-ressources .elixir span,
.info-player-ressources .gold span,
.info-player-ressources .dark-elixir span{
    position: absolute;
    margin-top: 12px;
    margin-left: 54px;
}

.info-player-defence .archer-tower img,
.info-player-defence .anti-air img{
    width: 35px;
}

.info-player-defence .tesla img,
.info-player-defence .wizard img,
.info-player-defence .inferno img{
    width: 46px;
}

.info-player-defence .cannon img,
.info-player-defence .mortar img,
.info-player-defence .arc-x img{
    width: 45px;
}

.info-player-defence img,
.info-player-ressources img{
    margin-left: 0px;
}

.info-player-ressources .elixir img,
.info-player-ressources .gold img,
.info-player-ressources .dark-elixir img{
    width: 45px;
}

.info-player-defence .expand-title,
.info-player-ressources .expand-title,
.info-player-attack .expand-title {
    position: relative;
    left: 18px;
}

.info-player-attack .portrait{
    display: inline-block;
}
.info-player-attack .portrait div{
    position: relative;
    color : white;
    top: 44px;
    left: 7px;
}

.info-player-attack .expendables{
    /*background-color: rgba(80, 232, 77, 0.2)*/
}

.info-player-attack .expendables h5{
    margin-left : 17px;
}

