/*
BY FLO
*/
.clan a{
    color: white;
}
.clan span{
    color: rgba(200,200,200,.8);
}

.table-mini td{
    font-size: .7em;
}

body
{
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}

@font-face {
    font-family:"Supercell-Magic";
    src: url("../fonts/supercell.ttf") /* TTF file for CSS3 browsers */
}

.main{margin-top:-20px;}

footer
{
    padding: 8px;
    background: #E7E7E7;
    font-size: 18px;
    font-family: 'Trebuchet MS', Arial, Verdana;
    margin-bottom: 5px;
}


.modal-dialog {
    width: 400px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}



.intro-header {
    font-family:'Supercell-Magic', sans-serif;
    text-align: center;
    /*margin-top: 20px;*/
    color: #f8f8f8;
    background: url(../images/intro-bg.jpg);
    background-size: cover;
    height: 300px;
}

.intro-message {
    margin-bottom: 80px;
    margin-top: 50px;
}


.content-section-a {

    padding: 20px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 30px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;


}



.section-heading
{
    font-family:'Supercell-Magic', sans-serif;
}
.banner {
    padding: 50px 0;
    color: #f8f8f8;
    background: url(../images/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}



.banner h2 {
    font-family:'Supercell-Magic', sans-serif;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;

}

footer {

    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}



/* ======= Steps ======= */
.steps {
    padding-top: 40px;


}

.steps .title {
    font-size: 36px;
    font-family:'Supercell-Magic', sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
}
.steps .step {
    padding: 30px 60px;
    color: #666666;
}
.steps .step .title {
    text-align: center;
    font-size: 16px;



}
.steps .step .title .number {
    width: 90px;
    height: 90px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    background: #ec6952;
    border: 5px solid #f19180;
    color: #fff;
    margin: 0 auto;
    padding-top: 25px;
    font-size: 26px;
    font-weight: bold;
    font-family:'Supercell-Magic', sans-serif;

}
.steps .step .title .text {
    color: #f19180;
    font-weight: bold;
    font-size: 25px;
}
.steps .btn-cta-primary {
    margin: 0 auto;
    margin-top: 60px;
    font-size: 20px;
}

.btn-vitrine {
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px ;
    border: 0 none;
    font-weight: 900;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family:'Supercell-Magic', sans-serif;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px)
{

    .steps .title {
        font-size: 36px;
        font-family:'Supercell-Magic', sans-serif;
        font-weight: 300;
        margin-top: 0;

    }

    .btn-vitrine
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 30px;
    }
   .btn-lg
   {
        font-size: 11px ;

    }
}






