
body
{
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}

@font-face {
    font-family:"Supercell-Magic";
    src: url("../fonts/supercell.ttf") /* TTF file for CSS3 browsers */
}


.modal-dialog {
    width: 400px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}


.intro-header {
    font-family:'Supercell-Magic', sans-serif;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/intro-bg.jpg);
    background-size: cover;
    height: 300px;
}

.intro-message {
    position: relative;
    padding-top: 3%;
    padding-bottom: 20%;
}


.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading
{
    font-family:'Supercell-Magic', sans-serif;
}
.banner {
    padding: 50px 0;
    color: #f8f8f8;
    background: url(../images/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}



.banner h2 {
    font-family:'Supercell-Magic', sans-serif;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;

}

footer {

    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}