<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand supercell-font" href="{{ path('vitrine_homepage') }}">Oh My Clan</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {% if is_granted('ROLE_USER')  %}
                    <li><a href="{{ path('coc', {'id_clan': app.user.player.clan.id }) }}">Mon clan</a></li>
                {% else %}
                    <li class="page-scroll">
                        <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ path('fos_user_security_login') }}">Login</a>
                    </li>
                {% endif %}





            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
